div#group-form.form
	label(for="name") Please enter
	br
	textarea#like(name="like")
	br
	label(for="improved") What could be improved? (limit xxx characters)
	br
	textarea#improved(name="improved")
	br
	input(type="checkbox" id="visual" name="visual") 
	| Add visual feedback?
	br
	button#cancel Cancel
	button#submit-feedback Submit feedback
