extends layout

block content
	div(ng-controller="PhotoDetailControl")
		title {{photo.title}}
		header
			h1 {{photo.title}}
			p: a(ng-href="/users/{{photo.author.username}}") {{photo.author.username}}
			p Uploaded: {{photo.date_uploaded}}
		img(ng-src="{{photo.path}}")
		div#feedback.feedback(ng-show="showFeedback")
			h2 Feedback submission
			div#close.close X
			label(for="like") {{like_question}}
			br
			textarea#like(name="like" ng-model="like")
			br
			label(for="improved") {{improve_question}}
			br
			textarea#improved(name="improved" ng-model="improved")
			br
			input(type="checkbox" id="visual") 
			| Add visual feedback?
			br
			button#cancel(ng-click="showSubmit=true; showFeedback=false") Cancel
			button#submit-feedback(ng-click="processFeedback()") Submit feedback

		div.specs
			h2 Specifications
			ul 
				li: | <strong>Camera:</strong> {{photo.camera}}
				li: | <strong>Shutter:</strong> {{photo.shutter}}
				li: | <strong>fstop:</strong> {{photo.fstop}}
				li: | <strong>iso:</strong> {{photo.iso}}
				
		div.about
			h2 About photo
			p {{photo.writeup}}
		div#critique-submit.critique-submit(ng-show="showSubmit" ng-init="showSubmit=true")
			h2 Feedback
			button#crit-sub.submit(ng-click="showFeedback=true; showSubmit=false") Submit a critique
		div#critique-area(ng-switch on="critiques.length > 0")
			div(ng-switch-when="true")
			div.critique(ng-repeat="critique in critiques")
				p.question {{like_question}} <br /> {{critique.like}}
				p.question {{improve_question}} <br /> {{critique.improved}}
				p.author - 
					a(href="/users/{{critique.username}}") {{critique.username}},
					|  {{critique.date_posted}}
			input(type="hidden" id="photoid" value="{{photo._id}}")
			div(ng-switch-default) No critiques yet
