doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angular-route/angular-route.min.js')
    script(src='/vendor/angular-mocks/angular-mocks.js')
    script(src='/vendor/angular-resource/angular-resource.min.js')
  body
    block content
