extends layout

block content
	title All groups
	h1 All groups
	if(groups.length > 0)
		each group in groups
			div.group
				p Name: #{group.name}
				br
				p Creator: #{group.created_by.username}
				br
				p Date created: #{group.date_created}
				br
	else
		p There are no groups to display
