doctype html
html(ng-app="photoapp")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title= title
		link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/assets/css/style.css')
	body(ng-controller="LoginController" ng-class="bkgrd")
		include includes/header-menu.jade
		div.container
			mc-messages.message-box
			div(ng-view)
			script(src='/vendor/jquery/dist/jquery.min.js')
			script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
			script(src='/vendor/angular/angular.min.js')
			script(src='/vendor/angular-route/angular-route.min.js')
			script(src='/vendor/message-center.js')
			script(src='/app.js')
			script(src='/login_controller.js')
			script(src='/photo_controllers.js')
			script(src='/user_controllers.js')
			script(src='/feedback_controllers.js')
