header
nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
	div.container-fluid
		div.navbar-header
			button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navlinks")
				span.sr-only Menu
				span.icon-bar
				span.icon-bar
				span.icon-bar
		div#navlinks.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active: a(href="/") Home
				li: a(href="/photos/all") Browse photos
				li: a(href="/photos/add") Submit a photo
				li(ng-show="login.loggedin"): a(href="/users/{{login.user}}") My stuff
				li(ng-hide="login.loggedin"): a(name="nav-login" href="#" ng-click="login.showLogin()") Login
				li(ng-show="login.loggedin"): a(href="#" ng-click="login.logout()") Logout
		login.absolute(ng-if="login.navLoginShow")
