div#comment-outer.comment-outer.absolute
	div.comment-inner
		h3 Comment
		textarea(ng-model="comment-text")
		button(ng-click="cancelComment()") Cancel
		button(ng-click="submitComment()") Submit comment
