div#comment-outer.comment-outer.absolute(ng-model="visTemp")
	div.comment-inner
		h3 Comment
		textarea(ng-model="commentText")
		button(ng-click="cancelComment()") Cancel
		button(ng-click="submitComment()") Submit comment
