div.feedback-area
	h2 Feedback submission
	div#close.close X
	label(for="like") What do you like about the photo? (limit xxx characters)
	br
	textarea#like(name="like" ng-model="feedback.like")
	br
	label(for="improved") What could be improved? (limit xxx characters)
	br
	textarea#improved(name="improved" ng-model="feedback.improved")
	br
	input(type="checkbox" ng-click="showHideVis($event)") 
	| Add visual feedback?
	br
	input(type="hidden" ng-model="feedback.vis")
	button#cancelFeedback.button(ng-click="showHideFeedback($event)") Cancel
	button#addFeedback.button(ng-click="addFeedback(feedback); showHideFeedback($event)") Submit feedback
