div.page-header
	h1 {{groupDetail.group.name}}
	p Created: {{groupDetail.group.date_created | date: 'EEE, MMMM dd, yyyy'}}
div.module
	h2 Group leader
	a(ng-href="/users/{{groupDetail.group.created_by.username}}") {{groupDetail.group.created_by.username}}
div.module
	h2 Members
	div(ng-if="groupDetail.group.members.length > 0")
		ul
		div(ng-repeat="member in groupDetail.group.members")
			li: a(ng-href="/users/{{member.username}}") {{member.username}}
div.module
	h2 Member photos
	div.row(ng-if="groupDetail.photos.length > 0")
		div.col-md-3.col-sm-4(ng-repeat="photo in groupDetail.photos")
			div.photothumb
				a(ng-href="/photos/{{photo._id}}")
					img.thumbnail.img-responsive(ng-src="{{photo.thumb}}")
				p 
					span.title {{photo.title}}
					br
					a(ng-href="/users/{{photo.author.username}}") {{photo.author.username}}
