h1 Upload photo
label(for="photo") Select your photo
br
input(type="file" name="photo" file-model="photo")
br
label(for="title") Enter a title for your photo:
br
input(type="text" name="title" ng-model="title")
br
label(for="category") Select categories
br
select(name="category" ng-model="category" multiple)
	option(value="{{category.name}}" ng-repeat="category in categories") {{category.name}}
br
label(for="camera") Enter your camera make/model
br
select(name="camera" ng-model="camera")
	option(value="" ng-selected="true") -Select camera-
	option(value="{{camera}}" ng-repeat="camera in filters.cameras.sort()") {{camera}}
br
label(for="shutter") Enter the shutter speed used
br
select(name="shutter" ng-model="shutter")
	option(value="" ng-selected="true") -Select shutter-
	option(value="{{shutter}}" ng-repeat="shutter in filters.shutters") {{shutter}}
br
label(for="fstop") Enter the aperture used
br
select(name="fstop" ng-model="fstop")
	option(value="" ng-selected="true") -Select fstop-
	option(value="{{fstop}}" ng-repeat="fstop in filters.fstops") {{fstop}}
br
label(for="iso") Enter the ISO used
br
select(name="iso" ng-model="iso")
	option(value="" ng-selected="true") -Select iso-
	option(value="{{iso}}" ng-repeat="iso in filters.isos") {{iso}}
br
label(for="flash") Did you use flash?
br
input(type="checkbox" name="flash")
| Flash used
br
label(for="writeup") Tell us a little about this photo
br
textarea(name="writeup" ng-model="writeup")
br
label(for="access") Do you want to restrict viewing access to this photo?
br
input(type="checkbox" name="access")
| Restrict access
br
button(ng-click="submitPhoto()") Submit photo
