header
	h1 {{photo.title}}
	p
		a(ng-href="/users/{{photo.author.username}}") {{photo.author.username}}
	p Uploaded: {{photo.date_uploaded | date: 'EEE, MMMM dd, yyyy'}}
div(ng-controller="FeedbackController")
	div(ng-show="visual" ng-model="visual")
		vis-feedback.visual-feedback
			div.vis-head
				h2 Visual feedback
			canvas#vis-body.vis-body.absolute(ng-click="createCommentBox()" ng-model="coords")
			vis-comments.vis-comments
	img#img-detail.img-responsive(ng-src="{{photo.path}}")
	div(ng-include="feedbackArea && '/partials/feedback.jade' || ''")
	div.specs
		h2 Specifications
		ul
			li: | <strong>Camera:</strong> {{photo.camera}}
			li: | <strong>Shutter:</strong> {{photo.shutter}}
			li: | <strong>fstop:</strong> {{photo.fstop}}
			li: | <strong>ISO:</strong> {{photo.iso}}
	div.about
		h2 About photo
		p {{photo.writeup}}
	div.feedback-submit(ng-show="feedbackOption")
		h2 Feedback
		button#showFeedback.button(ng-click="showHideFeedback($event)") Submit a critique
	div#critique-area(ng-if="hasCritiques")
		div.critique(ng-repeat="critique in photo.critiques | orderBy:sortField")
			p.question What do you like about the photo?<br /> {{critique.like}}
			p.question What could be improved?<br /> {{critique.improved}}
			p.author - 
				a(href="/users/{{critique.username}}") {{critique.username}},
				|  {{critique.date_posted | date: 'EEE, MMMM dd, yyyy, h:m a'}}
	div(ng-show="photo.critiques.length == 0")
		p No critiques yet
