h1 Upload photo
label(for="photo") Select your photo
br
input(type="file" name="photo" file-model="photo")
br
label(for="title") Enter a title for your photo:
br
input(type="text" name="title" ng-model="title")
br
label(for="category") Select categories
br
select(name="category" ng-model="category" multiple)
	option(value="{{category.name}}" ng-repeat="category in categories") {{category.name}}
br
label(for="camera") Enter your camera make/model
br
input(type="text" name="camera" ng-model="camera")
br
label(for="shutter") Enter your shutter speed
br
input(type="text" name="shutter" ng-model="shutter")
br
label(for="fstop") Enter your aperture
br
input(type="text" name="fstop" ng-model="fstop")
br
label(for="iso") Enter your ISO
br
input(type="text" name="iso" ng-model="iso")
br
label(for="flash") Did you use flash?
br
input(type="checkbox" name="flash")
| Flash used
br
label(for="writeup") Tell us a little about this photo
br
textarea(name="writeup" ng-model="writeup")
br
label(for="access") Did you want to restrict viewing access to this photo?
br
input(type="checkbox" name="access")
| Restrict access
br
button(ng-click="submitPhoto()") Submit photo
