div.page-header
	h1 Add user
div.row
	div.col-md-7
		div.form-group
			label(for="profile_image") Upload a profile photo
			input.form-control.input-lg(type="file" name="profile_image" file-model="profile_image")
		div.form-group
			label(for="first_name") Please enter your first name
			input.form-control.input-lg(type="text" name="first_name" ng-model="first_name")
		div.form-group
			label(for="last_name") Please enter your last name
			input.form-control.input-lg(type="text" name="last_name" ng-model="last_name")
		div.form-group
			label(for="username") Please choose a username
			input.form-control.input-lg(type="text" name="username" ng-model="username")
		div.form-group
			label(for="password") Please choose a password
			input.form-control.input-lg(type="password" name="password" ng-model="password")
		div.form-group
			label(for="email") Please enter a valid email address
			input.form-control.input-lg(type="text" name="email" ng-model="email")
		div.form-group
			label(for="bio") Tell us a little bit about yourself
			textarea.form-control.input-lg(name="bio" ng-model="bio")
		div.form-group
			button.btn.btn-default.btn-lg(ng-click="addUser()") Signup!
