h1 {{user.username}}
p {{error}}
h2 My profile
#profile
	#profile-pic
		p: img(alt="placeholder image" ng-src="{{user.self_portrait}}")
	#basics
		p Username <br /> {{user.username}}
		p First name <br /> {{user.first_name}}
		p Last name <br /> {{user.last_name}}
		p Email <br /> {{user.email}}
h2 My groups
#group-listing(ng-if="user.groups.length > 0")
	div.package(ng-repeat="group in user.groups")
		a(ng-href="#").group {{group.name}}
		a(ng-href="#").delete x
div(ng-show="user.groups.length == 0")
	p No groups yet
#group-add
	label(for="group") To create or join a group, please type a name
	br
	input(type="text" name="group" id="group-input")
	input(type="submit" name="submit" id="group-submit" value="Submit")
h2 My photos
//#photo-buttons
	button: | Add a photo
	button: | Remove a photo
#user-photos(ng-if="user.photos.length > 0")
	div.photothumb(ng-repeat="photo in user.photos")
		a(ng-href="/photos/{{photo._id}}")
			img(ng-src="{{photo.thumb}}")
		p: strong {{photo.title}}
		div(ng-controller="UserPhotoEditController")
			button.button(ng-click="showEdit=true") Edit photo
			div.photoEdit(ng-show="showEdit")
				p {{results}}
				label(for="title") Photo title: 
				input(name="title" type="text" ng-model="photo.title" value="photo.title")
				br
				label(for="camera") Camera: 
				select(name="camera" ng-model="photo.camera")
					option(value="{{camera}}" ng-selected="camera == photo.camera" ng-repeat="camera in filters.cameras.sort()") {{camera}}
				label(for="shutter") Shutter speed:  
				select(name="shutter" ng-model="photo.shutter")
					option(value="{{shutter}}" ng-selected="shutter == photo.shutter" ng-repeat="shutter in filters.shutters") {{shutter}}
				label(for="fstop") fStop:  
				select(name="fstop" ng-model="photo.fstop")
					option(value="{{fstop}}" ng-selected="fstop == photo.fstop" ng-repeat="fstop in filters.fstops") {{fstop}}
				label(for="iso") ISO:  
				select(name="iso" ng-model="photo.iso")
					option(value="{{iso}}" ng-selected="iso == photo.iso" ng-repeat="iso in filters.isos") {{iso}}
				br
				button.button(ng-click="showEdit=false") Cancel
				button.button(ng-click="updatePhotoEdits()") Update values
div(ng-show="user.photos.length == 0")
	p No photos yet
